.primary-button {
    padding: 1rem;
    border: 2px solid var(--primary);
    border-radius: 5px;
    color: var(--primary);
    transition: 0.5s;
}

.primary-button i {
    color: var(--primary);
}

.primary-button:hover {
    background-color: var(--primary);
    color: white;
    transform: translateY(-5px);
}

.primary-button:hover:hover i {
    color: white;
}

.green-button {
    color: white;
    padding: 1rem;
    border-radius: 5px;
    background-color: var(--primary);
    transition: 0.5s;
    cursor: pointer;
}

.green-button:hover {
    background-color: var(--dark-primary);
    transform: translateY(-5px);
}
