footer {
    width: 100%;
    max-width: 100vw;
    margin-top: 3rem;
    padding: 3rem 2rem;
    background-color: var(--secondary);
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 1.5rem;
}

footer h3 {
    color: white;
}

footer *:not(h3) {
    color: var(--grey-text);
}

.links {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 2rem;
    border-bottom: 1px solid rgba(255, 255, 255, 0.274);
    padding-bottom: 1.5rem;
}
.links > div {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
}

.links > div h3::after {
    content: "";
    display: block;
    width: 50px;
    height: 2px;
    background-color: var(--primary);
}

.socials {
    display: flex;
    column-gap: 1.5rem;
}

.socials a {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.123);
    border-radius: 50%;
}

.socials i {
    color: white;
}

.links a {
    transition: transform 1s
}

.links > div:nth-child(2) a:hover {
    transform: translateX(15px);
}

.socials a:hover {
    transform: translateY(-10px);
}

footer > p {
    
    font-size: 0.875rem;
}

@media (max-width:768px) {
    .links {
        grid-template-columns: 1fr 1fr;
        row-gap: 1.5rem;
    }
}

@media (max-width:576px) {
    .links {
        grid-template-columns: 1fr;
        row-gap: 1.5rem;
    }
}