form {
    padding: 2rem;
    border-radius: 10px;
    background-color: var(--white-background);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    row-gap: 1.5rem;
    box-shadow: 0 0 10px rgba(167, 167, 167, 0.26);
}

.input-field {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
}
.input-field label {
    font-weight: 600;
}

textarea {
    resize: vertical;
}

input, textarea, select {
    padding: 0.75rem 1rem;
    border-radius: 5px;
}